<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Variable</th>
      <th>Pipe</th>
      <th>Producto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td [innerHtml]="nombre"></td>
      <td>uppercase</td>
      <td [innerHtml]="nombre | uppercase"></td>
    </tr>
    <tr>
      <td [innerHtml]="nombre"></td>
      <td>lowercase</td>
      <td [innerHtml]="nombre | lowercase"></td>
    </tr>
     <tr>
      <td [innerHtml]="nombre"></td>
      <td>slice:3</td>
      <td [innerHtml]="nombre | slice:3"></td>
    </tr>
    <tr>
      <td [innerHtml]="nombre"></td>
      <td>slice:0:3</td>
      <td [innerHtml]="nombre | slice:0:3"></td>
    </tr>
     <tr>
      <td [innerHtml]="arreglo"></td>
      <td>slice:1:5</td>
      <td [innerHtml]="arreglo | slice:1:5"></td>
    </tr>
    <tr>
      <td [innerHtml]="PI"></td>
      <td>number:'3.0-0'</td>
      <td [innerHtml]="PI | number:'3.0-0'"></td>
    </tr>
    <tr>
      <td [innerHtml]="PI"></td>
      <td>number:'1.0-2'</td>
      <td [innerHtml]="PI | number:'1.0-2'"></td>
    </tr>
    <tr>
      <td [innerHtml]="a"></td>
      <td>percent</td>
      <td [innerHtml]="a | percent"></td>
    </tr>
     <tr>
      <td [innerHtml]="a"></td>
      <td>percent:'2.2-2'</td>
      <td [innerHtml]="a | percent:'2.2-2'"></td>
    </tr>
    <tr>
      <td [innerHtml]="salario"></td>
      <td>currency</td>
      <td [innerHtml]="salario | currency"></td>
    </tr>
     <tr>
      <td [innerHtml]="salario"></td>
      <td>currency:'COP'</td>
      <td [innerHtml]="salario | currency:'COP'"></td>
    </tr>
      <tr>
      <td [innerHtml]="salario"></td>
      <td>currency:'EUR':true</td>
      <td [innerHtml]="salario | currency:'EUR':true"></td>
    </tr>
       <tr>
      <td [innerHtml]="salario"></td>
      <td>currency:'EUR':true:'4.0-0'</td>
      <td [innerHtml]="salario | currency:'EUR':true:'4.0-0'"></td>
    </tr> 
      <tr>
      <td [innerHtml]="salario"></td>
      <td>number:'.2-2'</td>
      <td [innerHtml]="salario |number:'.2-2'"></td>
    </tr> 
  </tbody>
</table>


</div>